h1,
h2,
h3,
h4 {
    font-family: "Sanchez", serif;
}

h3 {
    color: #039dc7;
}

header {
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
}

/* Modal Dialog */

.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    background: none;
    border: none;
    padding: 0;
}

.close:hover {
    opacity: 0.7;
}


/* Navigation Menu */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 4.3em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
}

li:hover {
    background-color: #8c99a4;
}

nav a,
nav a:link,
nav a:visited,
.nav-button {
    font: 1.4em "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0px #283744;
    text-decoration: none;
    padding: 1.2em;
}

span {
    color: #f92672;
}

.nav-menu {
    overflow: hidden;
    max-height: 500px;
}

.fa {
    margin-right: 0.6em;
}

.nav-button {
    display: none;
    padding: 0.5em 0;
    cursor: pointer;
}

.container-fluid {
    background: #455868;
    border-top: 2px solid #576979;
    border-bottom: 2px solid #23303c;
    box-shadow: 0 2px 5px #ccc;
}

/* Flex Classes */

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

/* Content */

.logo img {
    margin-top: 1em;
    max-width: 100%;
    max-height: 100px;
}

.splash {
    position: relative;
    padding: 0 1.2em;
    width: 100%;
}

.splash-text {
    margin: 2em 0 0 2em;
    position: absolute;
}

.splash-text h2 {
    margin-top: 0.3em;
    font-family: Consolas, monospace;
    color: #666;
}

.featured-work {
    border-radius: 3px;
    padding: 1.2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #eee;
    box-sizing: border-box;
}

.featured-work:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.featured-work img {
    max-width: 100%;
    cursor: pointer;
}

/* Typing Animation */

.type {
    width: 4em;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid black;
    -webkit-animation: typing 6s steps(7, end), blink-caret 1s step-end infinite;
            animation: typing 6s steps(7, end), blink-caret 1s step-end infinite;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 4em }
}

@keyframes typing {
    from { width: 0 }
    to { width: 4em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

/* Footer */

footer {
    margin: 1em;
}

/* Media Queries */

@media screen and (max-width: 991px) {
    .col-feat {
        margin-top: 1.2em;
    }

    .col-feat:first-child, .col-feat:nth-child(2) {
        margin-top: 0;
    }
}

@media screen and (max-width: 670px) {
    .splash-text {
        margin: 1em 0 0 1em;
    }

    .splash h2 {
        font-size: 1.2em;
    }

    .col-feat, .col-feat:nth-child(2) {
        margin-top: 1.2em;
        max-width: 360px;
        width: 100%;
    }

    .flex-row {
        -webkit-justify-content: center;
                  -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    li {
        width: 100%;
    }

    .nav-button {
        /* Show hamburger button */
        display: block;
    }

    .nav-menu {
        /* Hide menu items */
        max-height: 0;
    }
}

@media screen and (max-width: 400px) {
    .splash h2 {
        font-size: 1em;
    }

    .splash-text {
        margin: 0.5em 0 0 0.5em;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .logo img {
        height: 64px;
    }

    .col-name {
        width: 100%;
    }

    .name {
        text-align: center;
    }
}